<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devkproject.movieinfo3">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.devkproject.movieinfo3.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieInfo3">
        <activity
            android:name="com.devkproject.movieinfo3.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieInfo3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${AD_KEY}"/>
    </application>

</manifest>